.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--silver);
}

.about__img {
    width: 200px;
    height: 238px;
    margin: 58px auto 69px;
}

.about__title {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-bottom: 12px;
}

.about__description {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.about__hire {
    width: 114px;
    height: 46px;
    margin:20px ;
    text-align: center;
    background-color: var(--battleship-gray);
    border-radius: 4px;
    box-shadow: 
    0px 2px 2px rgba(0, 0, 0, 0.14),
     0px 3px 1px rgba(0, 0, 0, 0.12),
      0px 1px 5px rgba(0, 0, 0, 0.2);
}